body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
}

h1 {
  background: #f05;
}

.titulo-libro {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  color: white;
}

.contadorLibros {
  font-family: 'Poppins', sans-serif;
  color: white;
}

.agregar-lista {
  background: #f05;
  color: #ffffff;
  border-radius: 10px;
}

#lectura {
  border: 4px solid blue;
}

#colgar-libros img {
  width: 200px;
  height: 300px;
}

#colgar-lista-lectura img {
  width: 100px;
  height: 150px;
  font-size: 0.5rem;
}

.titulo-libro-lista {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: white;
}

.contadorLibrosGenero {
  font-family: 'Poppins', sans-serif;
  color: goldenrod;
}